{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="inline-flex items-center">
    <a href="{% url 'home' %}" class="text-blue-600 hover:underline">Boards</a>
    <svg class="w-4 h-4 mx-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </li>
  <li class="inline-flex items-center text-gray-700">
    {{ board.name }}
  </li>
{% endblock %}

{% block content %}
    <!-- We will add the main content here soon. -->
    <div class="bg-white p-6 shadow-md rounded-lg">
      <!-- This container is for the future content -->
    </div>
{% endblock %}
