{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="inline-flex items-center">
    <a href="{% url 'home' %}" class="text-blue-600 hover:underline">Boards</a>
    <svg class="w-4 h-4 mx-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </li>
  <li class="inline-flex items-center text-gray-700">
    {{ board.name }}
  </li>
{% endblock %}

{% block content %}
    <!-- We will add the main content here soon. -->
    <div class="mb-4">
      <a href="{% url 'new_topic' board.pk %}" class="bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-200">
          New Topic
      </a>
    </div>  
    <div class="bg-white p-6 shadow-md rounded-lg">
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Topic</th>
              <th class="py-3 px-6 text-left">Starter</th>
              <th class="py-3 px-6 text-left">Replies</th>
              <th class="py-3 px-6 text-left">Views</th>
              <th class="py-3 px-6 text-left">Last Update</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            {% for topic in topics %}
            {% url 'topic_posts' board.pk topic.pk as topic_url %}
              <tr class="border-b hover:bg-gray-100">
                <td class="py-3 px-6"><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a>
                  <small class="text-muted">
                    Pages:
                    {% for i in topic.get_page_range %}
                      <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
                    {% endfor %}
                    {% if topic.has_many_pages %}
                    ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
                    {% endif %}
                  </small>
                </td>
                <td class="py-3 px-6">{{ topic.starter.username }}</td>
                <td class="py-3 px-6">{{ topic.replies }}</td>
                <td class="py-3 px-6">{{ topic.views }}</td>
                <td class="py-3 px-6">{{ topic.last_updated|naturaltime  }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% include "includes/pagination.html" %}
{% endblock %}
